*.o
*.out
*.exe
*~
*.log
TAGS
#.*#
catch_signals
cin
cin.cpp
circular_qu
cond_var
ctor
dbm.zip
exception
exception_13_5_2
exception_type
forward_list
fsm/
gdbm_load.c
hello
impl_pattern
initializer_list
list
mutex
mutex.cpp
mylog.txt
shared_ptr.cpp
shared_ptr2
shared_ptr2.cpp
std_out
sys_clock
test_mkstemp
test_strncpy
thread_concurrency/ch4_async
thread_concurrency/thread_2_1_1
time
tmp/
unzip.sha
vector